@import '../../styles/variables';

.HeroSectionComplet {
  margin-top: $padding-large;
  margin-bottom: $padding-large;
  min-height: 250px;
  width: 100%;
  height: 100%;
  padding-left: $padding-medium;
  padding-right: $padding-medium;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
  background-size: cover;
  background-position: center;
}

.TitreHeroSection, .ParagrapheHeroSection {
  align-self: stretch;
  color: $primary-color;
  font-family: $font-primary;
  font-weight: 700;
  word-wrap: break-word;
}

.TitreHeroSection {
  font-size: $font-size-large;
}

.ParagrapheHeroSection {
  font-size: $font-size-small;
}

.ImageHero {
  width: 390px;
  height: 205px;
}

.ButtonHeroSection {
  align-self: stretch;
  width: 40%;
  max-width: 131px;
  min-width: 126px;
  height: 45px;
  padding-left: $padding-small;
  padding-right: $padding-small;
  background: $secondary-color;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.TextButton {
  flex: '1 1 0';
  align-self: stretch;
  color: white;
  font-size: $font-size-small;
  font-family: $font-secondary;
  font-weight: 700;
  word-wrap: break-word;
}