// Définition des variables
$primary-color: #9CB7C9;
$padding-small: 16px;
$padding-medium: 10px;
$padding-large: 15px;
$common-width: 37px;
$common-height: 37px;
$logo-size: 120px;
$secondary-color: #ECA457;
$font-primary: 'Arial Rounded MT Bold';
$font-secondary: 'American Typewriter';
$font-color-third: #350503;
$font-size-large: 32px;
$font-size-small: 16px;

@font-face {
   font-family: 'American Typewrite';
   src: url('./fonts/American-typewriter.ttf') format('truetype');
 }