@import '../../styles/variables';

.home-phone .search-bar {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-around;
  max-height: 40px;
  min-height: 40px;
  position: relative;
  width: 100%;
}

.search-input {
  font-size: 1rem;
  border: none; // supprime la bordure
  width: 100%;
  height: 25px; // augmente la hauteur
  text-align: center;
  margin-left: 6px;

  &:focus {
    outline: none;
    border: none; // supprime la bordure lors de la mise au point
  }
}

.search-bar-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-around;
  max-width: 430px;
  position: relative;
}

.div {
  display: flex;
  align-items: center;
  border: 2px solid $primary-color;
  border-radius: 10px;
  gap: 7px;
  margin-left: -20.5px;
  margin-right: -20.5px;
  padding: 4px 0px;
  position: relative;
}

.search-button {
  border: none; // change la bordure
  border-radius: 10px;
  background-color: white; // change la couleur de fond
  margin: 5px; // change la marge

  &:hover {
    background-color: rgba($primary-color, 0.3);
  }

  .iconSearch {
    height: 22px;
    position: relative;
    text-align: center;
    padding-right: 3px;
    padding-top: 2px;
    color: $primary-color;
  }
}

@media (max-width: 600px) {
  .home-phone .search-bar, .search-bar-wrapper {
    gap: 3px;
    width: 100%;
  }

  .search-input {
    font-size: 0.9rem;
    height: 30px;
    max-width: 100%;
  }

  .search-button .iconSearch {
    height: 18px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .home-phone .search-bar, .search-bar-wrapper {
    max-width: 100%;
  }
}
@media (min-width: 901px) {
  .home-phone .search-bar, .search-bar-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .search-input {
    font-size: 1.1rem;
    width: 100%;
  }

  .search-button .iconSearch {
    height: 24px;
  }
}