.home-phone .search-bar {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-around;
  max-height: 40px;
  min-height: 40px;
  position: relative;
  width: 100%;
}

.search-bar-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  justify-content: space-around;
  max-width: 430px;
  position: relative;
}

.div {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #9cb7c9;
  border-radius: 10px;
  display: flex;
  gap: 7px;
  margin-left: -20.5px;
  margin-right: -20.5px;
  padding: 4px 0px;
  position: relative;
  width: 227px;
}

.search {
  flex: 1;
  flex-grow: 1;
  height: 22px;
  position: relative;
  text-align: center;
}

.text-wrapper {
  align-self: stretch;
  color: #0000005c;
  font-family: "American Typewriter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 3px;
  position: relative;
  text-align: center;
  width: 198px;
}