@import '../../../styles/variables';

.burger-button {
  align-self: center;
  width: $common-width;
  height: $common-height;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;
  background: $primary-color;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease; // Ajout de cette ligne pour animer le changement de couleur de fond

  &:hover {
    background-color: rgba(
      $primary-color,
      0.7
    ); // Couleur de fond lors du survol avec une transparence de 50%
  }

  @media (min-width: $breakpoint-desktop) {
    width: 40px;
    height: 40px;
  }
}

.burgerButton {
  width: 37px;
  height: 37px;
  display: none;
}
/* Styles pour tablettes et mobiles */
@media (max-width: $breakpoint-tablet) { /* Ajustez cette valeur selon vos besoins */
  .burgerButton {
    display: block; /* Affiche le bouton burger */
  }
  .navDesktop {
    display: none; /* Cache le menu de navigation */
  }
}

.menu-burger {
  position: absolute;
  height: auto;
  z-index: 10;
}

.list-burger {
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  border: 2px solid $primary-color;
}

.list-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 30px;
}

.item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #350503;
  transition: background-color 0.3s ease, border-radius 0.3s ease; // Ajoute une animation de transition pour la couleur de fond et le border-radius

  &:hover {
    background-color: rgba(
      $secondary-color,
      0.5
    ); // Couleur de fond lors du survol avec une transparence de 50%
    border-radius: 20px; // Ajoute une bordure arrondie lors du survol
  }
}

.list-text {
  text-align: justify;
  color: #9cb7c9;
  font-size: 16px;
  font-family: 'American Typewriter';
  font-weight: 700;
  word-wrap: break-word;
  padding: 10px;
  width: 100%;
}

.list-Arrow {
  color: #9cb7c9;
  word-wrap: break-word;
  padding: 10px;
  align-self: flex-end; // Ajout de cette propriété pour placer la flèche à la fin de la Frame1
}
